/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
 

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Creates three columns: left, center, right */
  align-items: center; /* Centers content vertically */
  background-color: #333;
  color: white;
  padding: 10px 20px;
  width: 100%;
}

.logo {
  width: 1500px;
  min-height: auto;
  margin-top: 250px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-title {
  text-align: center; 
}

.nav-links {
  justify-self: end;
}

.header a {
  color: aliceblue;
  margin-left: 12px;
  text-decoration: none;
}

.content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  font-size: 50px;
  color: #333;
  justify-content: center;
  align-items: center;
  display: flex;

}

.footer {
  background: red;
  padding: 12px;
  text-align: center;
}