
body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Creates three columns: left, center, right */
  align-items: center; /* Centers content vertically */
  background-color: #333;
  color: white;
  padding: 10px 20px;
  width: 100%;
}

.logo {
  width: 1000px;
  min-height: auto;
  margin-top: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-title {
  text-align: center; 
}

.nav-links {
  justify-self: end;
}

.header a {
  color: aliceblue;
  margin-left: 12px;
  text-decoration: none;
}

.content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #333;
  display: flex;

}

.footer {
  background:#d1d2d3;
  text-align: center;
  font-size: 28px;
  margin-top: auto;   
  padding: 10px;
  ;
}

  .trademark-symbol {
  /* Styling specifically for the ® symbol */
  /* This makes the symbol appear as a superscript */
  vertical-align: super;
  font-size: 0.7em; /* Makes the symbol slightly smaller than the main text */
  margin-right: 2px; /* Adds a little space between the symbol and the text */
}

.button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #fa1919;
  color: white;
  display: flex;
  margin-top: 5px;
  width: 20% ;
  justify-content: center;
  border-radius: 25px;
  
}

.remember {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 20px;

}